In [1]:
#! pip install mysql-connector-python -q

In [2]:


# Importing the necessary module
import mysql.connector

In [3]:
# Step 1: Establish Connection
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",
    password = "1234"
)

In [4]:

# Check the connection
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022EF3DB7080>

In [5]:

# Step 2: Create a Cursor
cursor = mydb.cursor()

In [6]:
# Step 3: Create a Database
cursor.execute("CREATE DATABASE IF NOT EXISTS Temporary_Employee_Tracker")

In [7]:
# Step 4: Use the Database
cursor.execute("USE Temporary_Employee_Tracker")

In [8]:
# Step 5: Create Tables
## Employee_List Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS employee_list (
    Name VARCHAR(50),
    Position VARCHAR(255),
    Skills VARCHAR(255),
    CurrentStatus VARCHAR(255)
)
""")

In [9]:
## Main Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS main_table (
    WeekEnd_Date DATE,
    Employee VARCHAR(50),
    Project VARCHAR(255),
    Time_in_hours INT
)
""")

In [10]:

## Project_List Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Project_List (
    Project VARCHAR(255),
    Description VARCHAR(255),
    StartDate DATE,
    Expected_to_Complete INT,
    Internal_or_External VARCHAR(255),
    Status VARCHAR(255)
)
""")

In [11]:


# Step 6: Insert Data into employee_list Table
employee_data = [
    ('Ram', 'Manager', 'Python, ML', 'Active'),
    ('Laxman', 'Developer', 'Java, SQL', 'Active'),
    ('Charan', 'Analyst', 'R, Analytics', 'Active'),
    ('Mohan', 'DataScientist', 'Python, ML', 'Active'),
    ('Krish', 'Data Analyst', 'Python, SQL', 'Active')
]

cursor.executemany("""
INSERT INTO employee_list (Name, Position, Skills, CurrentStatus) VALUES (%s, %s, %s, %s)
""", employee_data)

In [12]:

# Step 7: Insert Data into main_table
main_table_data = [
    ('2024-12-02', 'Ram', 'Project A', 50),
    ('2024-12-03', 'Laxman', 'Project B', 60),
    ('2024-11-29', 'Ram', 'Project C', 50),
    ('2024-11-28', 'Charan', 'Project D', 80),
    ('2024-12-05', 'Laxman', 'Project E', 40),
    ('2024-12-02', 'Mohan', 'Project M', 45)
]

cursor.executemany("""
INSERT INTO main_table (WeekEnd_Date, Employee, Project, Time_in_hours) VALUES (%s, %s, %s, %s)
""", main_table_data)

In [13]:

# Step 8: Insert Data into Project_List Table
project_data = [
    ('Project A', 'Analysis', '2024-12-02', 4, 'Internal', 'Active'),
    ('Project B', 'Development', '2024-12-03', 6, 'External', 'Completed'),
    ('Project C', 'Testing', '2024-11-29', 8, 'Internal', 'On Hold'),
    ('Project D', 'Reporting', '2024-11-28', 3, 'External', 'Active'),
    ('Project E', 'Design', '2024-12-05', 5, 'Internal', 'Active')
]

cursor.executemany("""
INSERT INTO Project_List (Project, Description, StartDate, Expected_to_Complete, Internal_or_External, Status) VALUES (%s, %s, %s, %s, %s, %s)
""", project_data)

In [14]:
# cursor.execute("DROP TABLE main_table")
# cursor.execute("DROP TABLE employee_list")
# cursor.execute("DROP TABLE project_list")

In [15]:
# Commit the changes
mydb.commit()

# Print success messages
print("Tables created and data inserted successfully!")

Tables created and data inserted successfully!

In [16]:
##Close connection
# Disconnecting from the database 
mydb.close()

In [17]:
cursor.close()

True