In [34]:
! pip install mysql-connector-python -q

In [35]:


# Importing the necessary module
import mysql.connector

In [ ]:
# Step 1: Establish Connection
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",
    password = "1234"
)

In [37]:

# Check the connection
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E17B962360>

In [38]:

# Step 2: Create a Cursor
cursor = mydb.cursor()

In [39]:
# Step 3: Create a Database
cursor.execute("CREATE DATABASE IF NOT EXISTS Temporary_Employee_Tracker")

In [40]:
# Step 4: Use the Database
cursor.execute("USE Temporary_Employee_Tracker")

In [41]:
# Step 5: Create Tables
## Employee_List Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS employee_list (
    Name VARCHAR(20),
    Position VARCHAR(25),
    Skills VARCHAR(50),
    CurrentStatus VARCHAR(20)
)
""")

In [42]:
## Main Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS main_table (
    WeekDay INT,
    Employee VARCHAR(25),
    Project VARCHAR(50),
    Time_in_hours INT
)
""")

In [43]:

## Project_List Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Project_List (
    Project VARCHAR(25),
    Description VARCHAR(25),
    StartDate DATE,
    Expected_to_Complete INT,
    Internal_or_External VARCHAR(50),
    Status VARCHAR(20)
)
""")

In [44]:


# Step 6: Insert Data into employee_list Table
employee_data = [
    ('Ram', 'Manager', 'Python, ML', 'Active'),
    ('Laxman', 'Developer', 'Java, SQL', 'Active'),
    ('Charan', 'Analyst', 'R, Analytics', 'Active'),
    ('Mohan', 'DataScientist', 'Python, ML', 'Active'),
    ('Krish', 'Data Analyst', 'Python, SQL', 'Active')
]

cursor.executemany("""
INSERT INTO employee_list (Name, Position, Skills, CurrentStatus) VALUES (%s, %s, %s, %s)
""", employee_data)

In [45]:

# Step 7: Insert Data into main_table
main_table_data = [
    (1, 'Ram', 'Project A', 50),
    (1, 'Laxman', 'Project B', 60),
    (1, 'Ram', 'Project C', 50),
    (2, 'Charan', 'Project D', 80),
    (2, 'Laxman', 'Project E', 40),
    (2, 'Mohan', 'Project M', 45)
]

cursor.executemany("""
INSERT INTO main_table (WeekDay, Employee, Project, Time_in_hours) VALUES (%s, %s, %s, %s)
""", main_table_data)

In [46]:

# Step 8: Insert Data into Project_List Table
project_data = [
    ('Project A', 'Analysis', '2024-12-02', 4, 'Internal', 'Active'),
    ('Project B', 'Development', '2024-11-25', 6, 'External', 'Completed'),
    ('Project C', 'Testing', '2024-11-20', 8, 'Internal', 'On Hold'),
    ('Project D', 'Reporting', '2024-04-01', 3, 'External', 'Active'),
    ('Project E', 'Design', '2024-05-01', 5, 'Internal', 'Active')
]

cursor.executemany("""
INSERT INTO Project_List (Project, Description, StartDate, Expected_to_Complete, Internal_or_External, Status) VALUES (%s, %s, %s, %s, %s, %s)
""", project_data)

In [47]:
# Commit the changes
mydb.commit()

# Print success messages
print("Tables created and data inserted successfully!")

Tables created and data inserted successfully!

In [48]:
##Close connection
# Disconnecting from the database 
mydb.close()

In [50]:
cursor.close()

True