In [96]:
#! pip install mysql-connector-python -q

In [97]:
# Importing the necessary module
import mysql.connector

In [98]:
# Step 1: Establish Connection
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "1234"
)

In [99]:

# Check the connection
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000019AB82384D0>

In [100]:
##Create cursor
mycursor = mydb.cursor()

In [101]:
mycursor.execute('SHOW DATABASES')

In [102]:
for x in mycursor:
    print(x)

('basicsquestions',)
('company',)
('demo',)
('employee_details',)
('information_schema',)
('mysql',)
('performance_schema',)
('pratice',)
('python_sql_pratice',)
('questions',)
('sa_assignment',)
('sakila',)
('sys',)
('temporary_employee_tracker',)
('timeseries',)
('udemy',)
('wall_db',)
('world',)

In [103]:
# Create a database
mycursor.execute('CREATE DATABASE IF NOT EXISTS PYTHON_SQL_Pratice')

In [104]:
# Select the database
mycursor.execute('USE PYTHON_SQL_Pratice')

In [105]:
# Create a table in the selected database
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS DATA (
        Name VARCHAR(255),
        Address VARCHAR(255)
    )
""")

In [106]:
print("Table created successfully!")

Table created successfully!

In [107]:
#mycursor.execute("DROP TABLE DATA")

In [108]:
mycursor.execute("SHOW TABLES")

In [109]:
##To see the number of Tables in the mycursor
for x in mycursor:
    print(x)

('data',)

In [112]:
## SQL Values insert into the Tables
sql = "INSERT INTO DATA(NAME,ADDRESS) VALUES(%s,%s)"
val = [
    ("Kiran","HYD"),
    ("Raghu","TN"),
    ("Ajay","HYD"),
    ("LAxman","Kochi"),
    ("Ram","HYD"),
    ("Aditi", "Delhi"),
    ("Rahul", "Mumbai"),
    ("Sneha", "Pune"),
    ("Arjun", "Bangalore")
       ]
mycursor.executemany(sql,val)
mydb.commit()

In [113]:
# Print the number of rows inserted
print(f"{mycursor.rowcount} rows were inserted.")

9 rows were inserted.

In [ ]:
mycursor.execute("SELECT * FROM DATA") ####

In [ ]:
#Print all the REcords in DATA
result = mycursor.fetchall()
for x in result:
    print(x)

('Kiran', 'HYD')
('Raghu', 'TN')
('Ajay', 'HYD')
('LAxman', 'Kochi')
('Ram', 'HYD')
('Aditi', 'Delhi')
('Rahul', 'Mumbai')
('Sneha', 'Pune')
('Arjun', 'Bangalore')

In [120]:
mycursor.execute("SELECT * FROM DATA WHERE ADDRESS= 'HYD' ") ####
#Print all the REcords in DATA
result = mycursor.fetchall()
for x in result:
    print(x)

('Kiran', 'HYD')
('Ajay', 'HYD')
('Ram', 'HYD')

In [121]:
mycursor.execute("""SELECT * FROM DATA 
                 WHERE ADDRESS= 'HYD'
                 ORDER BY name
                  """) ####
#Print all the REcords in DATA
result = mycursor.fetchall()
for x in result:
    print(x)

('Ajay', 'HYD')
('Kiran', 'HYD')
('Ram', 'HYD')